<% errors.forEach((error)=>{ %>
<div class="alert alert-danger text-center"><%= error %></div>

<% }) %> <% success.forEach((success)=>{ %>
<div class="alert alert-success text-center"><%= success %></div>

<% }) %>
